@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.hamburger-menu {
    display: none;
}
.open-icon {
    display: block;
}

.close-icon {
    display: none;
}



.hide1 {
    display: block;
}


.hide2 {
    display: hidden;
}